<%= form_with(model: group, url: url, method: method) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, value: group.name %>
  </div>

  <div>
    <%= form.label :from_time, style: "display: block" %>
    <%= form.time_field :from_time, value: group.from_time&.strftime('%T') %>
  </div>

  <div>
    <%= form.label :to_time, style: "display: block" %>
    <%= form.time_field :to_time, value: group.to_time&.strftime('%T') %>
  </div>

  <div>
    <%= form.label :days_of_the_week, style: "display: block" %>
    
    <%= form.fields_for :days_of_the_week do |field| %>
      sunday: <%= field.check_box :sunday, { checked: !group[:days_of_the_week][:sunday].to_i.zero? } %>
      monday: <%= field.check_box :monday, { checked: !group[:days_of_the_week][:monday].to_i.zero? } %>
      tuesday: <%= field.check_box :tuesday, { checked: !group[:days_of_the_week][:tuesday].to_i.zero? } %>
      wednesday: <%= field.check_box :wednesday, { checked: !group[:days_of_the_week][:wednesday].to_i.zero? } %>
      thursday: <%= field.check_box :thursday, { checked: !group[:days_of_the_week][:thursday].to_i.zero? } %>
      friday: <%= field.check_box :friday, { checked: !group[:days_of_the_week][:friday].to_i.zero? } %>
      saturday: <%= field.check_box :saturday, { checked: !group[:days_of_the_week][:saturday].to_i.zero? } %>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
