<%= form_with(model: group, url: url, method: method) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field :name, value: group.name, required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :from_time, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.time_field :from_time, value: group.from_time&.strftime('%T'), required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :to_time, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.time_field :to_time, value: group.to_time&.strftime('%T'), required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :days_of_the_week, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field pt-2">
        <%= form.fields_for :days_of_the_week do |field| %>
        
          <% [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday].each do |day| %>
            <label class="checkbox mr-3">
              <%= day.to_s.capitalize %>
              <%= field.check_box day, { checked: !group[:days_of_the_week][day].to_i.zero? } %>
            </label>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

  <div class="is-flex is-justify-content-flex-end mb-4 mr-3">
    <%= form.submit class: "button is-success is-outlined" %>
  </div>
  
<% end %>
