<%= form_with(model: [@user, group], url: teacher_groups_url(@user, group)) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :from_time, style: "display: block" %>
    <%= form.time_field :from_time %>
  </div>

  <div>
    <%= form.label :to_time, style: "display: block" %>
    <%= form.time_field :to_time %>
  </div>

  <div>
    <%= form.label :days_of_the_week, style: "display: block" %>
    
    <%= form.fields_for :days_of_the_week do |field| %>
      sunday: <%= field.check_box :sunday? %>
      monday: <%= field.check_box :monday? %>
      tuesday: <%= field.check_box :tuesday? %>
      wednesday: <%= field.check_box :wednesday? %>
      thursday: <%= field.check_box :thursday? %>
      friday: <%= field.check_box :friday? %>
      saturday: <%= field.check_box :saturday? %>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
