<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>From </strong>
    <%= group.from_time.strftime('%k:%M:%S') %>
    <strong>To </strong>
    <%= group.to_time.strftime('%k:%M:%S') %>
  </p>

  <p>
    <strong>Enrolled students</strong>
    <%= group.group_members.count  %>
  </p>

  <p>
    <strong>Training days</strong>
    <%= render "teachers/groups/days_of_the_week", days_of_the_week: group.days_of_the_week %>
  </p>


</div>
