<div class="container">
  <br/>
  <h1 class="title">Group: <%= @group.name %></h1>

  <%= render "teachers/groups/group", group:@group %>

  <div>
    <%= link_to "Edit this group", edit_teacher_group_path(@user, @group) %>
    <%= link_to "Back", teacher_url(@user) %>

    <%= button_to "Destroy", teacher_group_url(@user, @group), method: :delete %>
  </div>
</div>
