<%= form_with(model: user, url: student_url(user)) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, value: user.email %>
  </div>

  <p>
    <strong>Belt:</strong>
    <%= BELTS_TEXT[user.belt.to_sym] %>
  </p>
    
  <% if user.student_information %>
    
    <%= form.fields_for :student_information do |row| %>

      <p>
        <strong>Ocupation:</strong>
        <%= user.student_information&.ocupation %>
      </p>

      <p>
        <strong>Civil status:</strong>
        <%= user.student_information&.civil_status %>
      </p>

      <div>
        <%= row.label :tutor_name, style: "display: block" %>
        <%= row.text_field :tutor_name, value: user.student_information.tutor_name %>
      </div>

      <div>
        <%= row.label :cellphone, style: "display: block" %>
        <%= row.text_field :cellphone, value: user.student_information.cellphone %>
      </div>

      <p>
        <strong>Social security number:</strong>
        <%= user.student_information&.health_insurance %>
      </p>
    <% end %>

  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
