<div id="<%= dom_id resource %>" class="box">
  <div class="columns">
    <div class="column">
      <p>
        <strong>
        Nombre: <%= resource.learning_resource.name %>
        </strong>
      </p>
      <p>
        <strong>Descripcion:</strong>
        <%= resource.learning_resource.description %>
      </p>
      <p>
        <strong>Cinta requerida:</strong>
        <%= BELTS_TEXT[BELTS.key(resource.learning_resource.belt)] %>
      </p>
    </div>
    <div class="column">
      <% if resource.learning_resource.resource.attached? %>
        <p>
          <strong>Recursos:</strong>
          <%= render "file_resource/resource", file_resource: resource.learning_resource %>
        </p>
      <% else %>
          <p>
            <span class="tag is-info is-medium is-light">Este recurso de aprendizaje no tiene un archivo adjunto.</span>
          </p>
      <% end %>
    </div>
  </div>
</div>