<div id="<%= dom_id review %>">

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <% if review.learning_resource&.resource&.attached? %>
    <p>
      <strong>Resource:</strong>
      <%= review.learning_resource&.name %>
      <br>
      <%= review.learning_resource&.description %>
    </p>
  <% end %>


  <% if review.learning_resource&.resource&.attached? %>
    <p>
      <strong>File:</strong>
      <%= link_to review.learning_resource&.resource&.filename, review.learning_resource&.resource %>
    </p>
  <% end %>

</div>
