<div id="<%= dom_id user %>">

  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="subtitle">Datos Personales</h2>
        <p>
          <strong>Nombre:</strong>
          <%= user.name %>
        </p>

        <p>
          <strong>Cinta:</strong>
          <%= BELTS_TEXT[user.belt.to_sym] %>
        </p>

        <p>
          <strong>Grupo:</strong>
          <%= user.group_member&.group&.name %></td>
        </p>

        <p>
          <strong>Ocupación:</strong>
          <%= user.student_information&.ocupation %>
        </p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="subtitle">Datos del responsable legal</h2>
        <p>
          <strong>Tutor:</strong>
          <%= user.student_information&.tutor_name %>
        </p>

        <p>
          <strong>Llamar a :</strong>
          <%= user.student_information&.cellphone %>
        </p>

        <p>
          <strong>Número de seguro social:</strong>
          <%= user.student_information&.health_insurance %>
        </p>
        <br>
      </div>
    </div>
  </div>

  <br/>
</div>