<div class="container">
  <br>
  <h1 class="title">Dashboard</h1>
  <%= render "students/user", user: @user %>

  <div class="is-flex">
    <%= link_to "Edit my profile", edit_student_path(@user), class: "button is-link is-outlined mr-3"%>
    <%= link_to "See all available learning resources", student_learning_resources_path(@user), class: "button is-link is-outlined mr-3"%>
    <%= link_to "See my attendance record", student_attendances_path(@user), class: "button is-link is-outlined mr-3"%>
    <%= link_to "See all my reviews", student_reviews_path(@user), class: "button is-link is-outlined mr-3"%>
    <%= link_to "See all assigned learning resources", student_student_learning_resources_path(@user), class: "button is-link is-outlined mr-3"%>
  </div>
  <br>

  <h2 class="subtitle">
    <strong>Your reviews</strong>
    <span class="tag is-info ml-4">Show only 10 fields</span>
  </h2>

  <div>
    <% @reviews.each do |review| %>
      <%= render "students/reviews", review: review %>
      <br>
    <% end %>
  </div>

  <h2 class="subtitle">
    <strong>Your assigned learning resources</strong>
    <span class="tag is-info ml-4">Showing only the last 5 fields</span>
  </h2>
  </span>
  <div id="student_learning_resources">
    <% @assigned_learning_resouces&.each do |resource| %>
      <%= render "students/resources", resource: resource %>
      <br>
    <% end %>
  </div>

  <br>
<div>
