<p style="color: green"><%= notice %></p>

<%= render "students/user", user: @user %>

<div>
  <%= link_to "Edit this student", edit_student_path(@user) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", user: @user, method: :delete %>
</div>
