<div class="container">
  <br>
  <h1 class="title">Dashboard</h1>
  
  <%= render "students/user", user: @user %>
  <br>

  <h2 class="subtitle">Your reviews</h2>
  <div id="students_reviews">
    <% @reviews.each do |review| %>
      <%= render "students/reviews", review: review %>
      <br>
    <% end %>
  </div>

  <h2 class="subtitle">Your assigned learning resources</h2>
  <div id="students_learning_resources">
    <% @assigned_learning_resouces&.each do |resource| %>
      <%= render "students/resources", resource: resource %>
      <br>
    <% end %>
  </div>

  <div>
    <%= link_to "Edit my profile", edit_student_path(@user), class: "button is-link is-outlined"%>
    <%= link_to "See all available learning resources", student_learning_resources_path(@user), class: "button is-link is-outlined"%>
    <%= link_to "See my attendance record", student_attendances_path(@user), class: "button is-link is-outlined"%>
  </div>
  <br>
<div>
