<div id="<%= dom_id resource %>">


  <p>
    <strong>Nombre:</strong>
    <%= resource.learning_resource.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= resource.learning_resource.description %>
  </p>

  <% if resource.learning_resource.resource.attached? %>
    <p>
      <strong>Ver archivo:</strong>
      <%= link_to resource.learning_resource.resource.filename, resource.learning_resource.resource %>
    </p>
    
    <% if resource.learning_resource.resource.representable? %>
      <%= image_tag resource.learning_resource.resource.representation(resize_to_limit: [200, 200]) %>
    <% else %>
      <span>No se puede mostrar la vista previa</span>
    <% end %>
  <% end %>

</div>
