<%= form_with(model: students_learning_resource, url: teacher_student_learning_resources_url(@user)) do |form| %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label "Assign to", class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="select">
          <%= form.select :user_id, @members.pluck(:name, :id), required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :learning_resource_id, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="select">
          <%= form.select :learning_resource_id, @learning_resource.pluck(:name, :id), required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>
  <div>
  </div>

  <div class="is-flex is-justify-content-flex-end">
    <%= link_to(teacher_learning_resources_url(@user), class: "button is-info is-outlined mr-4") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end%>
    <%= form.submit class: "button is-success is-outlined" %>
  </div>
<% end %>
