<div class="is-justify-content-center">
  <div class="container box mt-5" style="max-width: 500px;">
    <span class="subtitle">Forgot your password?</span>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <br>
      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "button is-primary"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
