<div id="<%= dom_id learning_resource %>">
  <p>
    <strong>Name:</strong>
    <%= learning_resource.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= learning_resource.description %>
  </p>

  <p>
    <strong>Belt:</strong>
    <%= learning_resource.belt %>
  </p>

  <p>
    <strong>Resource:</strong>
    <%= link_to learning_resource.resource.filename, learning_resource.resource if learning_resource.resource.attached? %>
  </p>

</div>
