
<div id="<%= dom_id learning_resource %>" class="box">
  <div class="columns">
    <div class="column">
      <p>
        <strong>
        Name: <%= learning_resource.name %>
        </strong>
      </p>
      <p>
        <strong>Descripción:</strong>
        <%= learning_resource.description %>
      </p>
      <p>
        <strong>Se requiere cinturón:</strong>
        <%= BELTS_TEXT[BELTS.key(learning_resource.belt)] %>
      </p>

      <% if @user.teacher? %>
        <div class="is-flex is-justify-content-flex-end mt-4 mr-3">
          <%= link_to(edit_teacher_learning_resource_path(@user, learning_resource), class: "button is-info is-outlined ml-5") do %>
            <i class="far fa-edit"></i>
            <span class="ml-2">Editar</span>
          <% end %>

          <%= button_to(teacher_learning_resource_path(@user, learning_resource), method: :delete, class: "button is-danger is-outlined ml-5") do %>
            <i class="far fa-trash-alt"></i>
            <span class="ml-2">Borrar</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="column">
      <% if learning_resource.resource.attached? %>
        <p>
          <strong>Recurso:</strong>
          <%= render "file_resource/resource", file_resource: learning_resource %>
        </p>
      <% else %>
          <p>
            <span class="tag is-info is-medium is-light">Este recurso de aprendizaje no tiene un archivo adjunto.</span>
          </p>
      <% end %>
    </div>

  </div>
</div>
<div >




</div>
