<p style="color: green"><%= notice %></p>

<%= render @teachers_learning_resource %>

<div>
  <%= link_to "Edit this learning resource", edit_teachers_learning_resource_path(@teachers_learning_resource) %> |
  <%= link_to "Back to learning resources", teachers_learning_resources_path %>

  <%= button_to "Destroy this learning resource", @teachers_learning_resource, method: :delete %>
</div>
