<div id="<%= dom_id student %>">
  <td>
    <%= link_to(teacher_student_path(@user, student)) do %>
      <%= student.name %> <i class="fas fa-external-link-alt"></i>
    <% end %>
  </td>

  <td><%= BELTS_TEXT[student.belt.to_sym] %></td>

  <td><%= student.group_member.group.name %></td>

</div>
