<div id="<%= dom_id student %>">

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Belt:</strong>
    <%= BELTS_TEXT[student.belt.to_sym] %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= student.birth_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>
</div>
