<% if @attendances.empty? %>
  <div class="notification is-danger" style="margin-bottom: 0rem">
    <button class="delete"></button>
    <p>Not attendances found for this dates.</p>
  </div>
<% end %>

<div id="students" class="container">
  <%# General student information %>
  <br>
  <span class="title">Student information</span>
  <br><br>
  <%= render "teachers/students/full_student", student: @student %>

  <%# Student record attendance %>
  <h2 class="subtitle is-flex is-justify-content-center">
    <strong>Student attendance record</strong>
  </h2>
  <%= render "students/attendances/attendance_stats", attendance_stats: @attendance_stats %>

  <div class="container mb-5">
    <table class="table is-bordered  is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr class="has-background-primary-light">
          <th>Date</th>
          <th>Was</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |attendance| %>
          <tr>
            <%= render "students/attendances/attendance", attendance: attendance %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%# Student record of learning resources %>
  <h2 class="subtitle is-flex is-justify-content-center">
    <strong>Asigned learning resources</strong>
  </h2>
  <div class="container mb-5">
    <table class="table is-bordered  is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr class="has-background-primary-light">
          <th>Learnign resource name</th>
          <th>Asigned on</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @student.student_learning_resources.each do |resource| %>
          <tr>
            <td><%= resource.learning_resource.name %></td>
            <td><%= resource.learning_resource.created_at.strftime('%Y-%m-%d %T') %></td>
            <td class="is-flex is-justify-content-center">
              <%= button_to(teacher_student_learning_resource_path(@user, resource), class: "button is-info is-outlined is-small ", method: :delete, data: { confirm: 'Are you sure to want to unasigne this resource?' }) do %>
                <i class="far fa-trash-alt"></i>
                <span class="ml-2">Unasigne</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%# Student reviews made %>
  <h2 class="subtitle is-flex is-justify-content-center">
    <strong>Reviews to the student</strong>
  </h2>
  <div class="container mb-5">
    <table class="table is-bordered  is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr class="has-background-primary-light">
          <th>Review</th>
          <th>Reviewed at</th>
          <th>Learning resource</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @student.reviews.each do |review| %>
          <tr>
            <td><%= review.review %></td>
            <td><%= review.created_at.strftime('%Y-%m-%d %T') %></td>
            <td><%= review.learning_resource&.name %></td>
            <td class="is-flex is-justify-content-center">
              <%= button_to(teacher_review_path(@user, review), class: "button is-info is-outlined is-small ", method: :delete, data: { confirm: 'Are you sure to want to finish this review?' }) do %>
                <i class="far fa-trash-alt"></i>
                <span class="ml-2">Finish review</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%# Searcher of student attendances %>
  <span class="subtitle mb-5">
    <strong>Search student attendances</strong>
  </span>
  <br><br>
  <%= render "students/attendances/attendance_records_form", url: teacher_student_path(@user, @student) %>

  <%# Action bottom buttons %>
  <div class="is-flex is-justify-content-flex-end mt-5">
    <%= button_to(teacher_student_path(@user, @student), class: "button is-danger is-outlined mr-5", method: :delete, data: { confirm: 'This action will delete the student and all his information. Are you sure?' } ) do %>
      <i class="far fa-trash-alt"></i>
      <span class="ml-2">Delete student</span>
    <% end %>
    <%= button_to(teacher_student_path(@user, @student), class: "button is-warning is-outlined mr-5", method: :patch, params: {user: {password: @student[:birth_date].strftime('%d%m%y')}}, data: { confirm: 'Are you sure to want to reset password?' }) do %>
      <i class="fas fa-unlock-alt"></i>
      <span class="ml-2">Reset password</span>
    <% end %>
    <%= button_to(teacher_student_path(@user, @student), class: "button is-primary is-outlined mr-5", method: :patch, params: {user: {belt: promote_belt(@student[:belt]) }}, data: { confirm: 'Are you sure to want to promote belt for this student?' }) do %>
      <i class="far fa-caret-square-up"></i>
      <span class="ml-2">Promote belt</span>
    <% end %>
    <%= link_to(edit_teacher_student_url(@user, @student), class: "button is-primary is-outlined mr-5") do %>
      <i class="fas fa-user-edit"></i>
      <span class="ml-2">Edit student</span>
    <% end %>
    <%= link_to(teacher_students_url(@user), class: "button is-info is-outlined") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end %>
  </div>
  <br>

</div>