<% if @attendances.empty? %>
  <div class="notification is-danger" style="margin-bottom: 0rem">
    <button class="delete"></button>
    <p>Not attendances found for this dates.</p>
  </div>
<% end %>

<div id="students" class="container">
  <%# General student information %>
  <br>
  <span class="title">Student information</span>
  <br><br>
  <%= render "teachers/students/full_student", student: @student %>

  <%# Student record attendance %>
  <h2 class="subtitle is-flex is-justify-content-center">
    <strong>Student attendance record</strong>
  </h2>
  <%= render "students/attendances/attendance_stats", attendance_stats: @attendance_stats %>

  <div class="container mb-5">
    <table class="table is-bordered  is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr class="has-background-primary-light">
          <th>Date</th>
          <th>Was</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |attendance| %>
          <tr>
            <%= render "students/attendances/attendance", attendance: attendance %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%# Searcher of student attendances %>
  <span class="subtitle mb-5">
    <strong>Search student attendances</strong>
  </span>
  <br><br>
  <%= render "students/attendances/attendance_records_form", url: teacher_student_path(@user, @student) %>

  <%# Action bottom buttons %>
  <div class="is-flex is-justify-content-flex-end">
    <%= link_to(edit_teacher_student_url(@user, @student), class: "button is-primary is-outlined mr-5") do %>
      <i class="fas fa-user-edit"></i>
      <span class="ml-2">Edit student</span>
    <% end %>
    <%= link_to(teacher_students_url(@user), class: "button is-info is-outlined") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end %>
  </div>
  <br>

    <%= button_to "Promote belt", teacher_student_path(@user, @student), method: :patch, params: {user: {belt: promote_belt(@student[:belt]) }}, data: { confirm: 'Are you sure to want to promote belt for this student?' } %>

    <%= button_to "Delete this student", teacher_student_path(@user, @student), method: :delete, data: { confirm: 'This action will delete the student and all his information. Are you sure?' } %>
    
    <%= button_to "Reset password", teacher_student_path(@user, @student), method: :patch, params: {user: {password: @student[:birth_date].strftime('%d%m%y')}}, data: { confirm: 'Are you sure to want to reset password?' } %>
</div>