<%= form_with(model: payment, url: teacher_debt_payments_url(@user, @debt)) do |form| %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :amount, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field :amount, required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label 'Total debt', class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= @debt.amount%>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label 'Pending debt', class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= @debt.debt_pending%>
        </p>
      </div>
    </div>
  </div>
  <div>
  <%= form.hidden_field :debt_id, value: @debt.id %>

  <div class="is-flex is-justify-content-flex-end">
    <%= link_to(teacher_debts_url(@user), class: "button is-info is-outlined mr-4") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end%>
    <%= form.submit class: "button is-success is-outlined" %>
  </div>
<% end %>
