<%= form_with(model: teacher, url: url, method: method) do |form| %>

  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %>  prohibir a este usuario de ser guardado:</h2>
      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :name, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field :name, value: teacher.name, required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :email, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.email_field :email, value: teacher.email, required: true, class: "input" %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :belt, class: "label" %>
    </div>
    <div class="field-body">
      <div class="select">
        <%= form.select :belt, BELTS_TEXT.invert, value: teacher.belt, required: true, class: "input"%>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :birth_date, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.date_field :birth_date, value: teacher.birth_date, required: true, class:"input" %>
        </p>
      </div>
    </div>
  </div>


  <br>
  <div class="is-flex is-justify-content-flex-end">
    <%= form.submit class: "button is-success is-outlined" %>
    <%= link_to(teacher_path(@user), class: "button is-info is-outlined ml-5") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Volver al panel</span>
    <% end %>
  </div>

<% end %>
