<div id="<%= dom_id user %>">

  <p>
    <strong>Nombre:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Belt:</strong>
    <%= BELTS_TEXT[BELTS.key(user.belt)] %>
  </p>

  <p>
    <strong>Cumpleaños:</strong>
    <%= user.birth_date %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= user.email %>
  </p>
</div>
