
<div class="container pt-5">
  <h1 class="title">Requisitos de pago</h1>

  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Concept</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Pending</th>
        <th>Description</th>
        <th>Student name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @debts.each do |debt| %>
        <tr>
          <%= render debt %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @debts, renderer: RemoteLinkPagination::LinkRenderer, :class=>"" %>

  <div class="is-flex is-justify-content-flex-end">
    <%= form_with(url: teacher_montly_payments_url(@user), method: :post) do |form| %>
      <%= form.submit "Apply montly payment for all", class: "button is-info is-outlined" %>
    <% end %>

    <%= link_to(teacher_path(@user), class: "button is-info is-outlined ml-5") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end %>
  </div>
  <br>
</div>
