
<div class="container pt-5" id="<%= dom_id @debt %>">
  <h1 class="title">Details</h1>

  <div class="box">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <strong>Amount:</strong>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= @debt.amount %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <strong>Cencept:</strong>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= @debt.concept %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <strong>Status:</strong>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= @debt.status %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <strong>Description:</strong>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= @debt.description || "N/A" %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <strong>Date:</strong>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= utc_to_localtime(@debt.created_at) %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <strong>Student:</strong>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= @debt.student.name %>
          </p>
        </div>
      </div>
    </div>

    <% if @debt.payment.any? %>
      <%= render "teachers/debts/payments/payment" %>
    <% end %>

    <div class="is-flex is-justify-content-flex-end">
      <%= link_to(teacher_debts_url(@user), class: "button is-info is-outlined mr-4") do %>
        <i class="fas fa-undo"></i>
        <span class="ml-2">Back</span>
      <% end%>

      <%= link_to(new_teacher_debt_payment_path(@user, @debt), class: "button is-success is-outlined mr-4") do %>
        <i class="fas fa-plus"></i>
        <span class="ml-2">Add payment</span>
      <% end%>
      
      <%= button_to(teacher_debt_path(@user, @debt), method: :delete, class: "button is-danger is-outlined", data: { confirm: 'Delete debt. Are you sure?' }) do %>
        <i class="fas fa-trash-alt"></i>
        <span class="ml-2">Delete debt</span>
      <% end %>
    </div>
  
  <div>
</div>

