<div id="<%= dom_id review %>" class="box">
  <p>
    <strong>User:</strong>
    <%= review.student.name %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <% if review.learning_resource.present? %>
    <p>
      <strong>Recurso de aprendizaje:</strong>
      <%= review.learning_resource&.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= review.learning_resource&.description %>
    </p>
  <% else %>
    <p>
      <span class="tag is-info is-medium is-light">No se ha asignado el recurso de aprendizaje</span>
    </p>
  <% end %>

</div>
