<div id="<%= dom_id attendance %>">
  <p>
    <strong>User:</strong>
    <%= attendance.user.name %>
  </p>

  <p>
    <strong>present:</strong>
    <%= attendance.present %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= attendance.group.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= attendance.date.strftime('%d-%m-%Y') %>
  </p>

</div>
