<%= form_with(model: [@user, @group, attendance], url: teacher_group_attendances_url(@user, @group)) do |form| %>
  <%= form.hidden_field :group_id, value: @group.id %>

  <table class="table is-striped is-hoverable  is-bordered">
    <thead>
      <tr>
        <th>Student name</th>
        <th>Is present?</th>
      </tr>
    </thead>
    <tbody>
      <% @group.users.each do |student| %>
        <%= form.fields_for :attendances do |att| %>
          <tr>
            <%= att.fields_for student.id.to_s do |att| %>
              <td>
              <label class="checkbox"> <%= student.name %> </label>
              </td>
              <td>
              <%= att.check_box :present, checked: attendance.exists?({user_id: student.id, present:true}), class: "ml-5" %>
              </td>
              <%= att.hidden_field :user_id, value: student.id %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="is-flex is-justify-content-flex-end">
    <%= link_to(teacher_group_url(@user, @group), class: "button is-info is-outlined mr-3") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end %>
    <%= button_to(teacher_group_attendances_url(@user, @group), method: :post, class: "button is-success is-outlined mr-3") do %>
      <i class="fas fa-plus"></i>
      <span class="ml-2">Save</span>
    <% end %>
  </div>

<% end %>
