<div class="container pt-5">
  <h1 class="title">Attendances of the group <%= @group.name%> between <%= params[:from_date]%> and <%= params[:to_date]%></h1>
  <strong>Total of attendances <%= @total_attendances%> </strong>

  <div class="mb-3"></div>
  <div class="mb-5">
    <table class="table is-bordered  is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr class="has-background-primary-light">
          <th>Student</th>
          <th>Record %</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |attendance| %>
          <tr>
            <%= render "attendance", attendance: attendance %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="is-flex is-justify-content-flex-end">
    <%= link_to(teacher_group_url(@user, @group), class: "button is-info is-outlined") do %>
      <i class="fas fa-undo"></i>
      <span class="ml-2">Back</span>
    <% end%>
  </div>
<div>


