<!DOCTYPE html>
<html>
  <head>
    <title>TkdControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <%= render "layouts/nav" %>

    <% if notice %>
      <div class="notification is-primary" style="margin-bottom: 0rem">
        <button class="delete"></button>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-danger" style="margin-bottom: 0rem">
        <button class="delete"></button>
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </body>
</html>
